body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px 50px;
}

.container-style {
    border-top: 1px solid black;
    padding-top: 15px;
}


h2 {
    font-weight: lighter;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    margin-bottom: 12px;
}

/* Start of nav */

.hamburger-menu {
    display: block; /* Always visible */
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    top: 5;
    position:fixed;
    cursor: pointer;
    color: black;
    background-color: white;
    font-size: 1em; /* Adjust the font size as needed */
    z-index: 3; /* Ensure it covers other elements */
}


.black-screen {
    display: none; /* Hide initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    z-index: 2; /* Ensure it covers other elements */
}

.container-style .nav-container {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: none; /* Change display to flex */
    position: fixed;
    font-size: 2em;
    font-weight: 100;
    top: 25%;
    left: 50px;
    right: 50px;
    z-index: 2; /* Ensure it appears above other elements */
}

.nav-box {
    display: flex;
    align-items: flex-start; /* Align content to the top of the box */
    justify-content: space-between;
    height: 100px; /* Adjusted height */
    padding: 0px; /* Adjusted padding */
}

.nav-box.nav-box-1 {
    justify-content: flex-start; /* Align first .nav-box to flex-start */
}

.nav-box.nav-box-2 {
    justify-content: flex-end; /* Align second .nav-box to flex-end */
}

.nav-box a {
    text-decoration: none;
    color: black;
}

.nav-box-2 a:not(:last-child) {
    margin-right: 50px; /* Add margin between the links in nav-box-2 */
}

.h2-top {
    font-size: 2.2em;
    margin-top: 0; /* Remove default margin to align h2 to the top */
}

/* End of nav */

/* Start of the main page */

.description-txt {
    margin-right: 20%;
}

.portrait-1 {
    background-color: red;
    width: 100%;
    height: 500px;
    margin-bottom: 60px;
}

.home-portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.home-portfolio a {
    flex: 1 0 calc(50% - 10px); /* Two columns with 10px space in between */
    text-align: center;
    width: 100%;
    height: 400px;
    background-color: red; /* Placeholder color */
}

.home-portfolio img {
}

/* End of the main page */

/* Start of the footer */

footer {
    position: fixed; /* Set the position to fixed */
    bottom: 0; /* Position at the bottom */
    height: 40px;
    left: 50px;
    right: 50px;
    background-color: white; /* Optional: Add background color */
    z-index: 1;
}

.footer-container {
    display: flex;
    align-items: flex-start; /* Align content to the top of the box */
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0;
}

.footer-right {
    text-align: right;
}

.footer-container p {
    margin: 0; /* Reset margin to override default margin */
}


/* CSS for tablet breakpoint */

@media screen and (max-width: 768px) {
    

    .menu {
        display: none; /* Hide menu for phone breakpoint */
        position: fixed;
        top: 25%;
        left: 25px;
        right: 25px;
        color: black;
        padding: 20px;
        z-index: 2; /* Ensure it appears above black screen */

    }    
    
    .hamburger-menu {
        display: block; /* Show hamburger menu for phone breakpoint */
    }

    .nav-box {
        height: 80px; /* Adjusted height */
    }

    .nav-box-2 a:not(:last-child) {
        margin-right: 30px; /* Add margin between the links in nav-box-2 */
    }

    .description-txt{
        margin-right: 10%;
    }

    .portrait-1{
        background-color: red;
        width: 100%;
        height: 400px;
        margin-bottom: 50px;
    }

    .h2-top {
        font-size: 1.8em;
        margin-top: 0; /* Remove default margin to align h2 to the top */
    }
    
}

/* CSS for phone breakpoint */

@media screen and (max-width: 480px) {

    .menu {
        display: none; /* Hide menu for phone breakpoint */
        position: fixed;
        top: 25%;
        left: 25px;
        right: 25px;
        color: black;
        padding: 20px;
        z-index: 2; /* Ensure it appears above black screen */

    }   
    
    .hamburger-menu {
        display: block; /* Show hamburger menu for phone breakpoint */
        font-size: 20px; /* Adjust the font size as needed */
        z-index: 2;
    }

    
    .container {
        padding: 10px 10px;
    }

    .nav-box-2 a:not(:last-child) {
        margin-right: 10px; /* Add margin between the links in nav-box-2 */
    }

    .description-txt{
        margin-right: 10%;
    }

    .portrait-1{
        background-color: red;
        width: 100%;
        height: 400px;
        margin-bottom: 30px;
    }

    .h2-top {
        font-size: 1.2em;
        margin-top: 0; /* Remove default margin to align h2 to the top */
    }
    footer {
        left: 10px;
        right: 10px;
    }
}