body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px 50px;
}

.container-style {
    border-top: 1px solid black;
    padding-top: 10px;
}

h2{
    font-weight: 100;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: black;
}


/* start of nav */


.container-style .nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-box {
    display: flex;
    align-items: flex-start; /* Align content to the top of the box */
    justify-content: space-between;
    height: 100px; /* Adjusted height */
    padding: 0px; /* Adjusted padding */
}


.nav-box.nav-box-1 {
    justify-content: flex-start; /* Align first .nav-box to flex-start */
}

.nav-box.nav-box-2 {
    justify-content: flex-end; /* Align second .nav-box to flex-end */
}

.nav-box a {
    text-decoration: none;
    color: black;
}

.nav-box-2 a:not(:last-child) {
    margin-right: 50px; /* Add margin between the links in nav-box-2 */
}

.h2-top {
    margin-top: 0; /* Remove default margin to align h2 to the top */
}

/* end of nav */

/* start of the main page */


.description-txt{
    margin-right: 20%;

}

.portrait-1{
    background-color: red;
    width: 100%;
    height: 500px;
    margin-bottom: 60px;
}


.home-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 60px;
}

.home-portfolio a {
    flex: 1 0 calc(50% - 10px); /* Two columns with 10px space in between */
    text-align: center;
    width: 100%;
    height: 400px;
    background-color: red; /* Placeholder color */
}

.home-portfolio img {
}

/* end of the main page */


/* start of the footer */

footer{
    position: fixed; /* Set the position to fixed */
    height: 30px;
    bottom: 0; /* Position at the bottom */
    left: 50px;
    right: 50px;
    background-color: white; /* Optional: Add background color */
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-left p {
    margin: 0;
}

.footer-right p {
    margin: 0;
}

.footer-right {
    text-align: right;
}

